<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-sm-3 col-sm-offset-4 ">
        <div class="bs-example">
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h3>Warning!</h3>
                <h4>{{warning}}</h4>
            </div>
        </div>
    </div>
</div>